<div *ngIf="user; else notFound">
  <h2>Profile</h2>
  <form *ngIf="editing; else view" #f="ngForm" (ngSubmit)="save(f)">
    <input name="firstName" [ngModel]="user.firstName" required placeholder="First Name" />
    <input name="lastName" [ngModel]="user.lastName" required placeholder="Last Name" />
    <input name="email" [ngModel]="user.email" type="email" required placeholder="Email" />
    <input name="gender" [ngModel]="user.gender" placeholder="Gender" />
    <input name="age" [ngModel]="user.age" type="number" placeholder="Age" />
    <input name="dob" [ngModel]="user.dob" type="date" placeholder="Date of Birth" />
    <input name="phone" [ngModel]="user.phone" placeholder="Phone" />
    <button [disabled]="f.invalid">Save</button>
    <button type="button" (click)="editing = false">Cancel</button>
  </form>
  <ng-template #view>
    <p>Name: {{ user.firstName }} {{ user.lastName }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Gender: {{ user.gender }}</p>
    <p>Age: {{ user.age }}</p>
    <p>DOB: {{ user.dob }}</p>
    <p>Phone: {{ user.phone }}</p>
    <button (click)="editing = true">Edit</button>
  </ng-template>
  <p *ngIf="msg" style="color: red;">{{ msg }}</p>
</div>
<ng-template #notFound>
  <p>User not logged in</p>
</ng-template>
