<h2>Create New User</h2>
<form [formGroup]="userForm" (ngSubmit)="submit()">
  <input formControlName="firstName" placeholder="First Name" />
  <input formControlName="lastName" placeholder="Last Name" />
  <input formControlName="gender" placeholder="Gender" />
  <input formControlName="age" type="number" placeholder="Age" />
  <input formControlName="dob" type="date" placeholder="Date of Birth" />
  <input formControlName="phone" placeholder="Phone" />
  <input formControlName="email" type="email" placeholder="Email" />
  <select formControlName="role">
    <option value="user">User</option>
    <option value="admin">Admin</option>
  </select>
  <input formControlName="password" type="password" placeholder="Password" />
  <button [disabled]="userForm.invalid">Add User</button>
</form>
<p style="color: red;" *ngIf="msg">{{ msg }}</p>
